<div class="container-fluid text-center">
  <br />
  <h1>Conoce Sobre OverLearn</h1>
  <h5>
    Somos una plataforma fundada en el año 2022, dedicada a la educacion online,
    <br />proporcionando un servicio de calidad para aprender diversos temas
    dentro de nuestro 10 cursos gratuitos con certificacion internacional.
  </h5>
  <br />
  <h1>Nuestros Valores</h1>
  <br />
  <div class="d-flex justify-content-center gap-5" style="margin-inline: 5%">
    <div class="card">
      <div class="card-body">
        <img
          src="https://cdn-icons-png.flaticon.com/128/7017/7017572.png"
          class="card-img-top"
          alt="Conocimiento"
          style="height: 50px; width: 50px; margin-bottom: 10px"
        />
        <p class="card-title" style="font-weight: bold">
          Conocimiento Accesible
        </p>
        <p class="card-text">
          Educación de calidad para todos, sin barreras ni limitaciones.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img
          src="https://cdn-icons-png.flaticon.com/128/1781/1781339.png"
          class="card-img-top"
          alt="etica"
          style="height: 50px; width: 50px; margin-bottom: 10px"
        />
        <p class="card-title" style="font-weight: bold">
          Ética y Responsabilidad
        </p>
        <p class="card-text">
          Actuamos con transparencia, honestidad y compromiso con la educación.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img
          src="https://cdn-icons-png.flaticon.com/128/6808/6808956.png"
          class="card-img-top"
          alt="comunidad"
          style="height: 50px; width: 50px; margin-bottom: 10px"
        />
        <p class="card-title" style="font-weight: bold">
          Comunidad y Colaboración
        </p>
        <p class="card-text">
          Un espacio de aprendizaje donde todos crecen juntos.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img
          src="https://cdn-icons-png.flaticon.com/128/11366/11366161.png"
          class="card-img-top"
          alt="Innovacion"
          style="height: 50px; width: 50px; margin-bottom: 10px"
        />
        <p class="card-title" style="font-weight: bold">
          Innovación y Excelencia
        </p>
        <p class="card-text">
          Nos actualizamos constantemente para ofrecer lo mejor en educación.
        </p>
      </div>
    </div>
  </div>
  <br />

  <h1>Nuestro Impacto</h1>
  <h5>
    Desde nuestra fundación en 2022, OverLearn ha transformado la vida de miles
    de estudiantes de diversas partes del mundo, <br />
    brindándoles la oportunidad de acceder a una educación de calidad sin
    barreras geográficas. <br />
    Con más de 10,000 estudiantes registrados y una tasa de satisfacción del
    95%, seguimos creciendo para llevar el conocimiento a más personas.
  </h5>
  <br />
  <div>
    <div class="container-fluid text-center">
      <div class="row g-2" style="margin-bottom: 5px; margin-left: 15%">
        <div class="col-5">
          <img
            src="https://hotmart.com/media/2018/09/BLOG_-Faculdade-a-distancia-670x419.png"
            alt="imagen1"
            class="img-fluid"
            style="object-fit: cover; height: 250px; width: 100%"
          />
        </div>
        <div class="col-5">
          <img
            src="https://todobecas.com.mx/wp-content/uploads/carrera-universitaria-2-1024x556.png"
            alt="imagen2"
            class="img-fluid"
            style="object-fit: cover; height: 250px; width: 100%"
          />
        </div>
      </div>
    </div>

    <br />
    <h1>Nuestra Trayectoria y Certificaciones</h1>
    <h5>
      En OverLearn, nos enorgullece nuestra trayectoria desde nuestra fundación
      en 2022. A lo largo de este tiempo,
      <br />
      hemos obtenido múltiples certificaciones que avalan la calidad educativa
      que ofrecemos. Nuestro compromiso con la excelencia y la innovación
      <br />
      nos ha permitido impactar a miles de estudiantes de todo el mundo,
      brindándoles acceso a formación profesional y certificaciones
      <br />
      que los preparan para el futuro laboral.
      <p></p>
    </h5>
    <br />
    <div class="card mb-3 mx-auto" style="max-width: 700px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://igniteonline.la/wp-content/uploads/2020/07/41-min-1080x675.jpg"
            class="img-fluid rounded-start"
            alt="Certificación 1"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Certificación en Calidad Educativa</h5>
            <p class="card-text">
              Nuestra plataforma ha sido certificada en calidad educativa,
              brindando a nuestros estudiantes una formación profesional y
              accesible con altos estándares de excelencia.
            </p>
            <p class="card-text">
              <small class="text-body-secondary"
                >Certificado por la Asociación Internacional de Educación</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Segunda Tarjeta (imagen a la derecha) -->
    <div class="card mb-3 mx-auto" style="max-width: 700px">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Certificación Internacional en Desarrollo de Habilidades
            </h5>
            <p class="card-text">
              Hemos recibido la certificación internacional por nuestra
              contribución al desarrollo de habilidades y conocimientos en áreas
              clave para el futuro laboral de nuestros estudiantes.
            </p>
            <p class="card-text">
              <small class="text-body-secondary"
                >Certificación otorgada por la Red Global de Educadores</small
              >
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="https://i.pinimg.com/736x/e6/7b/34/e67b3479c1c2bda0742429dc85149a99.jpg"
            class="img-fluid"
            alt="Certificación 2"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
    </div>

    <h1>Nuestro Equipo y Autoridades</h1>
    <h5>
      Nuestro equipo está compuesto por profesionales comprometidos con la
      educación y el desarrollo de soluciones innovadoras. <br />
      Cada uno de nuestros miembros clave aporta su experiencia y visión para
      garantizar la calidad y el crecimiento continuo de OverLearn. <br />
      Con su liderazgo, hemos logrado crear una plataforma educativa confiable y
      accesible, <br />
      que ha transformado la vida de miles de estudiantes en todo el mundo.
    </h5>
    <br />
    <div class="container text-center">
      <div class="row g-4">
        <div class="col-3">
          <div class="card" style="width: 18rem">
            <img
              src="https://hips.hearstapps.com/hmg-prod/images/cumberbatch_179663904jpg.jpg?crop=1xw:1.0xh;center,top&resize=640:*"
              alt="autoridad1"
              class="card-img-top"
              style="object-fit: cover; height: 250px; width: 100%"
            />
            <div class="card-body">
              <h5 class="card-title">Benedict Cumberbatch</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Fundador y CEO
              </h6>
              <p class="card-text">
                Líder visionario con más de 10 años de experiencia en el ámbito
                educativo online.
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem">
            <img
              src="https://images.mubicdn.net/images/cast_member/415423/cache-115582-1438816557/image-w856.jpg"
              alt="autoridad2"
              class="card-img-top"
              style="object-fit: cover; height: 250px; width: 100%"
            />
            <div class="card-body">
              <h5 class="card-title">Emilia Clarke</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Directora de Educación
              </h6>
              <p class="card-text">
                Encargada de desarrollar contenidos educativos de alta calidad y
                accesibles para todos.
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem">
            <img
              src="https://peopleenespanol.com/thmb/nmuFS-4VfkBhFOOwUEq1n7r0YkA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1198905869-2000-dfa73ad76ca847b39ee53f0d13d6065c.jpg"
              alt="autoridad3"
              class="card-img-top"
              style="object-fit: cover; height: 250px; width: 100%"
            />
            <div class="card-body">
              <h5 class="card-title">Robert Downey JR.</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Director de Tecnología
              </h6>
              <p class="card-text">
                Responsable de la infraestructura tecnológica que sostiene la
                plataforma OverLearn.
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem">
            <img
              src="https://i.scdn.co/image/154d4b28360a1ec7c684ee7aacec6e9dba39ca8d"
              alt="autoridad4"
              class="card-img-top"
              style="object-fit: cover; height: 250px; width: 100%"
            />
            <div class="card-body">
              <h5 class="card-title">Anne Hathaway</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Directora de Marketing
              </h6>
              <p class="card-text">
                Encargada de promocionar nuestros cursos y de hacer crecer
                nuestra comunidad.
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem">
            <img
              src="https://hips.hearstapps.com/hmg-prod/images/08-jennifer-aniston-1549469208.jpg"
              alt="autoridad5"
              class="card-img-top"
              style="object-fit: cover; height: 250px; width: 100%"
            />
            <div class="card-body">
              <h5 class="card-title">Jennifer Aniston</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Directora de Recursos Humanos
              </h6>
              <p class="card-text">
                Lidera el equipo de talento humano para asegurar el desarrollo
                profesional de todos dentro de nuestra comunidad.
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem">
            <img
              src="https://goldenglobes.com/wp-content/uploads/2023/10/leo-2023.jpg"
              alt="autoridad6"
              class="card-img-top"
              style="object-fit: cover; height: 250px; width: 100%"
            />
            <div class="card-body">
              <h5 class="card-title">Leonardo Dicaprio</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Director de Finanzas
              </h6>
              <p class="card-text">
                Encargado de la gestión financiera y el mantenimiento de la
                estabilidad económica de la plataforma.
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem">
            <img
              src="https://i.pinimg.com/736x/ab/b8/8f/abb88fe4cc8e13fe7d49f1c56be8eccd.jpg"
              alt="autoridad7"
              class="card-img-top"
              style="object-fit: cover; height: 250px; width: 100%"
            />
            <div class="card-body">
              <h5 class="card-title">Chris Evans</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Jefe de Soporte al Estudiante
              </h6>
              <p class="card-text">
                Se encarga de asegurar que todos nuestros estudiantes reciban un
                apoyo adecuado durante su aprendizaje.
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMjEzMjA0ODk1OF5BMl5BanBnXkFtZTcwMTA4ODM3OQ@@._V1_FMjpg_UX1000_.jpg"
              alt="autoridad8"
              class="card-img-top"
              style="object-fit: cover; height: 250px; width: 100%"
            />
            <div class="card-body">
              <h5 class="card-title">Elizabeth Olsen</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Directora de Calidad Educativa
              </h6>
              <p class="card-text">
                Responsable de garantizar que todos nuestros cursos cumplan con
                los estándares más altos de calidad educativa.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center mt-4">
      <h2>Video Tutorial</h2>
      <div class="ratio ratio-16x9">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/_QDsoTC6SDM" 
          title="YouTube video player"
          frameborder="0"
          allowfullscreen>
        </iframe>
      </div>
    </div>
    

    <br />
  </div>
</div>
