<div class="container-fluid text-center">
    <br>
    <h1>Mis inscripciones</h1>
    <h5>Aqui puedes encontrar todas tus solicitudes de inscripcion, podras editarlas o eliminarlas antes de su aprobacion.</h5>
    <br>
    <div class="d-flex justify-content-center align-content-center flex-wrap gap-5">
        @for(inscripcion of inscripciones; track $index){
            <div class="card w-25">
            <div class="card-body">
                <h5 class="card-title">{{inscripcion.nombre}}</h5>
                <p class="card-subtitle text-muted mb-2">{{inscripcion.curso}} - Nivel: {{inscripcion.nivelConocimiento}}</p>
                <p class="card-text"><strong>Correo:</strong> {{inscripcion.correo}}</p>
                <p class="card-text"><strong>Teléfono:</strong> {{inscripcion.telefono}}</p>
                <p class="card-text"><strong>Horario:</strong> {{inscripcion.horario}}</p>
                <p class="card-text"><strong>Motivo:</strong> {{inscripcion.motivo}}</p>
                <div class="container-fluid mx-auto gap-3 d-flex justify-content-center align-items-center">    
                    <button (click)="eliminarInscripcion(inscripcion.id)" class="btn btn-danger">Eliminar</button>  <!-- Botón para eliminar inscripción -->  
                    <button class="btn btn-warning" (click)="goToInscripcion(inscripcion.id)">Editar</button>

                </div>
            </div>
        </div>
        }
        
    </div>
  </div>