<div class="container text-center">
  <br />
  <h1>Ingresa Dentro de Nuestra Comunidad</h1>
  <br />
  <div class="card gap-3 mx-auto p-4" style="width: 50rem">
    <img
      src="https://cdn-icons-png.flaticon.com/128/310/310869.png"
      alt="login"
      style="height: 50px; width: 50px; margin-bottom: 10px; align-self: center;"
    />
    <h3>¡Inicia Sesion!</h3>
    <p>Si ya tienes una cuenta puedes ingresar tus credenciales e iniciar sesion.</p>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" id="password" />
      </div>
      <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
    </form>
  </div>
</div>
