<div class="container-fluid text-center mt-5">
  <h1 class="mb-4">Nuestros Videos</h1>
  <p class="lead">
    Explora un poco mas de nuestros cursos con estos videos destacados, recuerda
    que todos nuestros cursos cuentan con certificaciones y puedes inscribirte
    en cualquier momento.
  </p>

  <div class="container mt-5">
    <h3>Desarrollo Web con HTML, CSS y JavaScript</h3>
    <p>
      Aprende a construir páginas web desde cero con las tecnologías más
      esenciales del desarrollo frontend.
    </p>
    <div class="row">
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/-5nX27fTc4Y"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/R-yPWuurehs"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/8-RC-Q7Wtzc"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <h3 class="mt-5">Introducción a la Inteligencia Artificial</h3>
    <p>
      Descubre los fundamentos de la inteligencia artificial y cómo se aplica en
      el mundo actual.
    </p>
    <div class="row">
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/CjdusCm73p0"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/_tA5cinv0U8"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/kTejsfOU8gs"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <h3 class="mt-5">Marketing Digital para Principiantes</h3>
    <p>
      Explora las estrategias digitales más efectivas para promocionar productos
      y servicios en línea.
    </p>
    <div class="row">
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/LCCRlzi4ddo"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/_-0EdGJg8e0"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/D65zmUcRdQc"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <h3 class="mt-5">Diseño Gráfico con Adobe Photoshop</h3>
    <p>
      Domina las herramientas esenciales de Photoshop para la edición de
      imágenes y diseño gráfico profesional.
    </p>
    <div class="row">
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/FB4DdUfvfwM"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/j4OgWopeP3E"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/Aqqoo-XASLM"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <h3 class="mt-5">Programación en Python para Principiantes</h3>
    <p>
      Iníciate en la programación con Python, un lenguaje versátil y poderoso
      para múltiples aplicaciones.
    </p>
    <div class="row">
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/_6N18g3ewnw"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/62eeYUn1Ec4"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/Rv910T1BJUw"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <h3 class="mt-5">Desarrollo de Aplicaciones Móviles con Flutter</h3>
    <p>
      Aprende a crear aplicaciones móviles modernas y funcionales para Android e
      iOS con Flutter.
    </p>
    <div class="row">
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/-pWSQYpkkjk"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/7N-wDxe18PA"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/IrkJljILrzQ"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <h3 class="mt-5">Introducción a la Ciberseguridad</h3>
    <p>
      Conoce los principios básicos de la ciberseguridad y cómo proteger la
      información en línea.
    </p>
    <div class="row">
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/gzES0MuWqHE"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/3G8yJaudGC0"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/VjHEMqYVreo"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <h3 class="mt-5">Fundamentos de Anatomía Humana</h3>
    <p>
      Explora la estructura y funcionamiento del cuerpo humano con este curso
      introductorio.
    </p>
    <div class="row">
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/ccwQKHjPHg0"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/sNX6oZnSIn0"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/WuuTCVjIdnA"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <h3 class="mt-5">Primeros Auxilios y Reanimación Cardiopulmonar (RCP)</h3>
    <p>
      Aprende técnicas de primeros auxilios y RCP para actuar en situaciones de
      emergencia.
    </p>
    <div class="row">
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/wbp_AdGkWPM"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/7SBBka5fwW8"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/omEfz360ujY"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <h3 class="mt-5">Nutrición y Dietética para la Salud</h3>
    <p>
      Descubre cómo mejorar la alimentación y llevar un estilo de vida saludable
      con principios de nutrición.
    </p>
    <div class="row">
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/qHimbDfTXYg"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/9VSO0vBk11E"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          class="w-100"
          height="200"
          src="https://www.youtube.com/embed/z9ov3C7XM3o"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
